*{
    padding: 0px;
    margin: 0px;
}
body{
     
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
      
}
.container{
    padding: 40px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;

}
.section-two{
    margin-top: 20px;
    border: none;
    border: solid black 1px;
    display: inline-block;
    width: 200px;
    height: 440px;
    vertical-align: top;
}
img{
    height: 70%;
    width: 100%;
}
button:hover{
    background-color:blueviolet;
    
}    

.section-two__submit{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    border: none;
    
}
.section-three{
    margin-top: 20px;
    border: none;
    border: solid black 1px;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 440px;
    vertical-align: top;
    
}
.section-three__submit{
    margin-top: 27px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    border: none;
}    
.section-four{
    margin-top: 20px;
    border: none;
    border: solid black 1px;
    display: inline-block;
    text-align: center;
    vertical-align:top;
    width: 200px;
    height: 440px;
    
}

.section-four__submit{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    border: none;
} 
.section-five{
    margin-top: 20px;
    border: none;
    border: solid black 1px;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 440px;
    
}

.section-five__submit{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    border: none;
}
.container1{
    text-align: center;
} 
.section-two__title,.section-three__title,.section-four__title,.section-five__title{
    padding-left: 5px;
    padding-right: 5px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
}
.contact-form{
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.contact-form__table{
    margin-top: 5px;
    display: inline-block;
    
    
}   
.contact-form__button{
    margin-top: 7px;    
    background-color:rgb(225, 231, 144); 
    width: 500px;
    height: 30px;
    column-span: 2;
     
}
.contact-form__button:hover{
    background-color: blueviolet;
}
.contact-form__name,.contact-form__age,.contact-form__email
    {
    margin-top: 5px;
    
}
.contact-form__age, .contact-form__name, .contact-form__email{
    padding: 3px;
    
}  
